# Compiler files
cache/
out/

# Python virtual environment
.venv/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# History files
.history